@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Titillium+Web');

$white: #FDFDFD;
$black: #4D4D4D;
$lightgrey: #EEEEEE;
$grey: #808080;
$richblue: #3B44FF;

$display-font: 'Nunito', sans-serif;
$text-font: 'Titillium Web', sans-serif;

$break-small: 992px;
